<article class="flex mb-14">
  <img
    class="self-start mr-4 rounded-full"
    src="https://placeimg.com/40/40/people"
  />
  <div>
    <div class="flex">
      <span class="font-bold text-s text-gray-900m">{{username}}</span>
      <span
        class="self-center mx-2 text-gray-500 bg-gray-500 w-0.5 h-0.5 rounded-full text-xs"
      ></span>
      <span class="self-center text-xs text-gray-500">{{timeAgo}}</span>
    </div>
    <p class="my-3">{{text}}</p>
    <div class="text-xs font-bold text-gray-600">
      <a
        class="mr-6 cursor-pointer hover:text-purple-500"
        data-upvote-comment-id="{{id}}"
      >
        <div
          class="relative inline-block w-3 mr-1 overflow-hidden hover:text-purple-600 bottom-px"
        >
          <div
            class="w-2 h-2 origin-bottom-left transform rotate-45 bg-gray-600 hover:bg-purple-500"
          ></div>
        </div>
        Upvote ({{upvotes}})
      </a>
      <a>Reply</a>
    </div>
  </div>
</article>